@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

html {
  width: 100%;
}

body {
  font-family: 'Outfit', sans-serif;
  min-width: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}